[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "com.sobha.chequetracker",
      "sha256_cert_fingerprints": [
        "46:FC:2B:E3:76:0F:97:B5:51:89:53:1D:A4:D4:74:CC:0E:23:68:F1:3A:77:AD:4F:4F:5C:C7:80:DC:17:27:75"
      ]
    }
  }
]
